{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}
    <span style="display: inline-block; margin-right: 20px; vertical-align: middle;">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <i class="fas fa-globe" style="color: #fff; margin-right: 5px;"></i>

        <form action="{% url 'set_language' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path }}">
            <select name="language" onchange="this.form.submit()" style="background: #417690; color: #fff; border: 1px solid #79aec8; padding: 3px 8px; border-radius: 4px; cursor: pointer; font-weight: bold;">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as langs %}
                {% for lang in langs %}
                    <option value="{{ lang.code }}" {% if lang.code == LANGUAGE_CODE %}selected{% endif %} style="color: #000; background: #fff;">
                        {{ lang.code|upper }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </span>

    {{ block.super }}
{% endblock %}